USE [master]
GO
/****** Object:  Database [BD_ITSANET]    Script Date: 3/04/2024 03:07:55 ******/
CREATE DATABASE [BD_ITSANET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_ITSANET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_ITSANET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_ITSANET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_ITSANET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_ITSANET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_ITSANET]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 3/04/2024 03:07:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[id_cli] [int] IDENTITY(1,1) NOT NULL,
	[nom_cli] [varchar](100) NOT NULL,
	[ruc_cli] [char](11) NOT NULL,
	[gia] [varchar](30) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[estado_cli] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([id_cli], [nom_cli], [ruc_cli], [gia], [correo], [estado_cli]) VALUES (1, N'cliente1', N'12345678901', N'0001', N'artiaga2727.da@gmail.com', 1)
INSERT [dbo].[CLIENTES] ([id_cli], [nom_cli], [ruc_cli], [gia], [correo], [estado_cli]) VALUES (2, N'cliente2', N'98754612341', N'0025', N'pruebacorreo@gmail.com', 1)
INSERT [dbo].[CLIENTES] ([id_cli], [nom_cli], [ruc_cli], [gia], [correo], [estado_cli]) VALUES (3, N'cliente3', N'10478963254', N'0125', N'pruebacorreo@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
GO
USE [master]
GO
